# Virtual environment
/env

# Data
/data

# Old files, not ready
src/download_files.py

# Playground
playground/

# checkpoints and piece
src/*.pyc
notebooks/.ipynb_checkpoints/*
src/.ipynb_checkpoints/*
maven_match/figs/.ipynb_checkpoints/*