# Virtual environment
/env

# Data
/data

# Figs
figs/

# Old files, not ready
src/download_files.py

# Playground
playground/

# checkpoints and piece
.ipynb_checkpoints
src/*.pyc
notebooks/.ipynb_checkpoints/*
src/.ipynb_checkpoints/*
maven_match/figs/.ipynb_checkpoints/*
