# Virtual environment
/env

# Data
/data

# Local files
config.local
figs/
playground/

# checkpoints
.ipynb_checkpoints
src/*.pyc
notebooks/.ipynb_checkpoints/*
src/.ipynb_checkpoints/*
maven_match/figs/.ipynb_checkpoints/*
*.pyc
