backports.functools-lru-cache==1.5
BeautifulSoup==3.2.1
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
cloudpickle==0.5.3
configparser==3.5.0
cycler==0.10.0
doit==0.29.0
idna==2.8
kiwisolver==1.0.1
MacFSEvents==0.8.1
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
pathlib2==2.3.2
pickleshare==0.7.4
pyaml==17.12.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
requests==2.21.0
scandir==1.7
six==1.11.0
soupsieve==1.7.3
subprocess32==3.5.0
urllib3==1.24.1
